# Angular
ANGULAR-VSC/WoksPace-Cook/cook-front/node_modules/
ANGULAR-VSC/WoksPace-Cook/cook-front/.angular/
ANGULAR-VSC/WoksPace-Cook/cook-front/dist/
ANGULAR-VSC/WoksPace-Cook/cook-front/.vscode/
ANGULAR-VSC/WoksPace-Cook/cook-front/.editorconfig
ANGULAR-VSC/WoksPace-Cook/cook-front/*.log

# Spring
SPRING-VSC/target/
SPRING-VSC/.mvn/
SPRING-VSC/.vscode/
SPRING-VSC/mvnw
SPRING-VSC/mvnw.cmd
SPRING-VSC/HELP.md

# IDE - VSCode
.vscode/
*.code-workspace

# Logs y archivos temporales
*.log
*.tmp

# Sistema operativo
.DS_Store
Thumbs.db