<div class="container">
    <h2>Editar Cliente</h2>
    <form (ngSubmit)="onSubmit()" #clienteForm="ngForm">
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="cliente.nombre" name="nombre" required>
        </mat-form-field>
      </div>
      
      <button mat-raised-button color="primary" type="submit" [disabled]="!clienteForm.form.valid">
        Actualizar
      </button>
      <button mat-button routerLink="/clientes">Cancelar</button>
    </form>
  </div>